---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ben Hammond
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <span>My cool website</span> developed by
    <a href="https://jumbowumbus.github.io" target="_blank" class="font-bold">Ben Hammond</a>
  </div>
</footer>
<style>

</style>
